 /**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   




        yellow lopto : #F2B636;
        Blue : #182141;
============================================ */
html, body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
a,
a:focus,
a:hover{
    text-decoration: none;
}
section{
    background: #FFF;
}
/****************************************
            HELPER FUNCTIONS
******************************************/
.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-40{
    margin-bottom: 40px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}

.m-t-10{
    margin-bottom: 10px!important;
}
.m-t-20{
    margin-bottom: 20px!important;
}
.m-t-30{
    margin-bottom: 30px!important;
}
.m-t-40{
    margin-bottom: 40px!important;
}
.m-t-50{
    margin-bottom: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}

.pd-0{
    padding: 0!important;
}
.pd-5{
    padding: 5px!important;
}
.pd-10{
    padding: 10px!important;
}
.pd-15{
    padding: 15px!important;
}
.pd-20{
    padding: 20px!important;
}
.pd-25{
    padding: 25px!important;
}
.pd-30{
    padding: 30px!important;
}

.pd-lr-5{
    padding:0 5px!important;
}
.pd-lr-10{
    padding:0 10px!important;
}
.pd-lr-15{
    padding: 0 15px!important;
}
.pd-lr-20{
    padding: 0 20px!important;
}
.pd-lr-25{
    padding: 0 25px!important;
}
.pd-lr-30{
    padding: 0 30px!important;
}

.pd-tb-5{
    padding: 5px 0!important;
}
.pd-tb-10{
    padding: 10px 0!important;
}
.pd-tb-15{
    padding: 15px 0!important;
}
.pd-tb-20{
    padding: 20px 0!important;
}
.pd-tb-25{
    padding: 25px 0!important;
}
.pd-tb-30{
    padding: 30px 0!important;
}

/****************************************
            CONTENT BOXES
******************************************/
.content-box-lg{
    padding: 100px 0;
}
.content-box-md{
    padding:70px 0;
}
.content-box-sm{
    padding:40px 0;
}

/****************************************
            HEADER SLIDDER
******************************************/

#header{
    width: 100%;
    height: 100%;
}
#slideshow-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}
.myslides img{
    width: 100%;
    height: 100vh;
}
.slidder-btn{
    background: rgba(255,255,255,0.2);
    font-size: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none; 
    z-index: 9;
}
.slidder-btn::selection {
  color: none;
}
.slidder-btn:hover{
    cursor: pointer;
}
.slidder-btn-left{
    margin: 0 30px; 
    position: absolute;
/*    transform: translateY(50vh);*/
    top: 50vh;
    left: 0px;
    text-align: center;
}
.slidder-btn-right{
    margin: 0 -30px; 
    position: absolute;
/*    transform: translate(180vh,50vh);*/
    top: 50vh;
    left: 200vh;
    text-align: center;
}

/*****************************************
            Vision Mission
*****************************************/

#vision-mission{
/*    background: red;    */
}
#vision-mission .container{
    margin: 0;
    width: 100%;
    padding: 0;
}

#vision-mission img{
    width: 100%;
    height: 100%;
}

#vision-mission-content{
    padding: 9rem 13rem;
/*    margin-top: 5rem;*/
}
.vision h3,
.mission h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin: 20px 0;
    color: #212226;
}

.vision p,
.mission p{
    color: #999;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    
}
.vision p{
    margin-bottom: 6rem;
}











